@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --text-primary: rgb(0, 0, 0);
  --text-secondary: rgba(0, 0, 0, 0.6);
  --text-tertiary: rgba(0, 0, 0, 0.3);
  --text-brand: #0876dd;
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);
}

html, body {
  @apply bg-white;
}
